
.plan-feature-container {
  display: flex;
  width: 60%
}

.feature-list {
  flex: 1;
}

.feature-description {
  margin: 5px 10px;
  padding: 2px;
  background-color: #F1F3F4;
}

.plan-lane {
  flex: 1;
  text-align: center;
}

.plan-header
{
  font-weight: bold;
}

.feature-support {
  border-top: solid 1px black;
}


.feature-support:last-child {
  border-bottom: solid 1px black;
}

/*
.feature-support-yes {
  background-color: red;
}
*/